
ol 
	list-style: none
	counter-reset: li
	padding-inline-start: 0
li:before 
	counter-increment: li
	content: counters(li,".") ". "
.list-predbiblionight li:nth-child(6):after
	content: "*"
	position: relative
	left: -500px
	top: -15px
.list-biblionight li:nth-child(4):after
	content: "*"
	position: relative
	left: -500px
	top: -15px
.rules__text
	text-align: left
.text__warning
	text-align: left
.rules-hide
	display: none
.rules-show
	display: block
	transition: 2.5s
