body
	margin: 0
	padding: 0
	box-sizing: border-box
	font-family: 'PT Sans', sans-serif

$color_white: #FFFFFF
$color_black: rgba(0, 0, 0, 0.8)
$color_blue: #2660AB
$color_red: #CC1D47
$color_lightBlue: #edf4fb

#biblionight
	@import _helpers
	@import _header
	@import _screen1
	@import _screen2
	@import _screen3
	@import _screen4
	@import _buttons
	@import _footer
	