body {
  margin: 0;
  padding: 0; }

#biblionight {
  font-family: 'PT Sans', sans-serif; }
  #biblionight .container {
    margin: 0 auto;
    width: 920px;
    padding: 0 20px;
    text-align: center; }
  #biblionight .clearfix:after {
    content: "";
    display: table;
    clear: both; }
  #biblionight .header {
    background-color: #0060af;
    height: 110px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    padding-top: 30px;
    margin-bottom: 75px; }
    #biblionight .header .header__logo {
      float: left; }
    #biblionight .header .social__btns {
      float: right;
      margin: 0;
      padding: 0;
      list-style: none; }
      #biblionight .header .social__btns .social__btn {
        margin: 0;
        margin-right: 15px;
        padding: 0;
        display: inline-block;
        font-size: 0; }
        #biblionight .header .social__btns .social__btn:last-child {
          margin-right: 0; }
        #biblionight .header .social__btns .social__btn a {
          display: block;
          font-size: 14px;
          width: 42px;
          height: 42px;
          background-image: url("/ii/media/biblionight/social.png");
          background-repeat: no-repeat;
          opacity: 0.5;
          -webkit-transition: 0.2s;
          -o-transition: 0.2s;
          transition: 0.2s; }
          #biblionight .header .social__btns .social__btn a:hover {
            opacity: 1;
            -webkit-transition: 0.2s;
            -o-transition: 0.2s;
            transition: 0.2s; }
        #biblionight .header .social__btns .social__btn.social__btn--vk a {
          background-position: 10px 50%; }
        #biblionight .header .social__btns .social__btn.social__btn--fb a {
          background-position: -50px 50%; }
        #biblionight .header .social__btns .social__btn.social__btn--tw a {
          background-position: -107px 50%; }
        #biblionight .header .social__btns .social__btn.social__btn--ok a {
          background-position: -165px 50%; }
        #biblionight .header .social__btns .social__btn.social__btn--in a {
          background-position: -223px 50%; }
  #biblionight .text {
    text-transform: uppercase;
    margin: 0;
    padding: 0;
    font-size: 20px; }
  #biblionight .text--red {
    color: #ed1847; }
  #biblionight .main__footer {
    background-image: url("/ii/media/biblionight/bg2.png");
    background-repeat: repeat-x;
    background-position: 0px -2px;
    height: 255px;
    margin-top: 55px; }
    #biblionight .main__footer .footer__text {
      text-align: left;
      vertical-align: bottom;
      padding-top: 130px;
      font-size: 30px;
      color: #fff;
      width: 535px;
      margin: 0 auto; }
    #biblionight .main__footer .footer__descr {
      text-align: left;
      color: #aaa;
      width: 535px;
      margin: 0 auto;
      margin-top: 20px; }
  #biblionight .subscribe .container {
    background-image: url("/ii/media/biblionight/clouds.png"), url("/ii/media/biblionight/mail.png");
    background-repeat: no-repeat;
    background-position: 30% 0px, 30% 0px; }
  #biblionight .subscribe .text:first-child {
    color: #0060af;
    text-transform: none;
    padding-top: 260px;
    font-size: 29px; }
  #biblionight .subscribe #notification {
    margin-top: 20px;
    margin-bottom: 95px;
    font-size: 0; }

#notification p {
  font-size: 16px; }

#biblionight .subscribe #notification input {
  line-height: 50px;
  width: 300px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 16px;
  padding: 0 10px;
  border: 2px solid #0060af;
  -webkit-border-radius: 3px;
          border-radius: 3px;
  margin-bottom: 5px; }
  #biblionight .subscribe #notification input:focus {
    outline: none; }

#biblionight .subscribe #notification button {
  width: 170px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 16px;
  line-height: 50px;
  color: #fff;
  border: 1px solid #0060af;
  background-color: #0060af;
  -webkit-border-radius: 3px;
          border-radius: 3px;
  cursor: pointer;
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
  margin-left: 5px; }
  #biblionight .subscribe #notification button:focus {
    outline: none; }

#biblionight .books {
  background-color: #edf4fb; }
  #biblionight .books .container {
    background-image: url("/ii/media/biblionight/circle.png"), url("/ii/media/biblionight/bask.png");
    background-repeat: no-repeat;
    background-position: 50% 0px, 50% 0px; }
  #biblionight .books .text:first-child {
    color: #0060af;
    padding-top: 270px;
    text-transform: none;
    font-size: 29px; }

#biblionight .rules .more-txt {
  margin-bottom: 50px;
  display: inline-block; }

#biblionight .rules .text:first-child {
  color: #0060af;
  padding-top: 50px;
  text-transform: none;
  font-size: 29px;
  margin-bottom: 15px; }

#biblionight .btn {
  display: inline-block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 16px;
  line-height: 50px;
  color: #fff;
  padding: 0 30px;
  border: 1px solid #0060af;
  background-color: #0060af;
  -webkit-border-radius: 3px;
          border-radius: 3px;
  cursor: pointer;
  text-decoration: none;
  margin-bottom: 45px;
  margin-top: 15px;
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s; }

#biblionight .text--blue {
  color: #0060af; }

#biblionight .text.text--grey {
  text-transform: none;
  text-align: left;
  font-size: 18px;
  padding: 10px 0;
  color: #6e7072; }
  #biblionight .text.text--grey a {
    color: #0060af;
    text-decoration: none; }

#biblionight .land1 .container, #biblionight .land2 .container {
  margin-bottom: 100px; }

#biblionight .land1 .btn, #biblionight .land2 .btn {
  border-color: #ed1847;
  background-color: #ed1847;
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s; }

#biblionight .land1 .text:first-child, #biblionight .land2 .text:first-child {
  padding-top: 50px;
  text-transform: none;
  font-size: 29px;
  margin-bottom: 15px; }

#biblionight .land1 .text.text--blue, #biblionight .land2 .text.text--blue {
  color: #0060af;
  font-size: 18px;
  text-transform: none; }

#biblionight .land1 .conditions, #biblionight .land2 .conditions {
  width: 627px;
  margin: 0 auto; }

#biblionight .land1 .conditions .conditions__title, #biblionight .land2 .conditions .conditions__title {
  color: #0060af;
  font-size: 18px;
  text-transform: none;
  text-align: left;
  margin: 0; }

#biblionight .land1 .conditions .conditions__list, #biblionight .land2 .conditions .conditions__list {
  text-align: left;
  color: #0060af;
  margin: 0;
  padding: 0;
  padding-left: 20px;
  margin-bottom: 30px; }

#biblionight .land1 .conditions .conditions__list li span, #biblionight .land2 .conditions .conditions__list li span {
  color: #6e7072; }

#biblionight .land1 .footer, #biblionight .land2 .footer {
  background-image: url("/ii/media/biblionight/bg.png");
  background-repeat: repeat-x;
  background-position: 0 -2px; }

#biblionight .land1 .footer .container, #biblionight .land2 .footer .container {
  padding-top: 80px;
  margin-bottom: 0; }

#biblionight .land1 .footer .footer-links, #biblionight .land2 .footer .footer-links {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0;
  padding: 0;
  list-style: none; }

#biblionight .land1 .footer .footer-links li, #biblionight .land2 .footer .footer-links li {
  display: inline-block;
  margin-bottom: 20px; }

#biblionight .land1 .footer .footer-links li .link, #biblionight .land2 .footer .footer-links li .link {
  font-size: 18px;
  color: #fff;
  text-decoration: none; }

#biblionight .land1 .footer .footer-links li .icon, #biblionight .land2 .footer .footer-links li .icon {
  display: inline-block;
  font-size: 14px;
  width: 34px;
  height: 34px;
  background-image: url("/ii/media/biblionight/icons.png"); }

#biblionight .land1 .footer .footer-links li:nth-child(1) .icon, #biblionight .land2 .footer .footer-links li:nth-child(1) .icon {
  background-position: 1px 0; }

#biblionight .land1 .footer .footer-links li:nth-child(2) .icon, #biblionight .land2 .footer .footer-links li:nth-child(2) .icon {
  background-position: -37px 0; }

#biblionight .land1 .footer .footer-links li:nth-child(3) .icon, #biblionight .land2 .footer .footer-links li:nth-child(3) .icon {
  background-position: -78px 0; }

#biblionight .land1 .footer .footer-links li:nth-child(4) .icon, #biblionight .land2 .footer .footer-links li:nth-child(4) .icon {
  width: 30px;
  background-position: -112px 0; }

#biblionight .land1 .footer .footer-links li:hover {
  text-decoration: underline; }

#biblionight .land2 .footer .footer-links li:hover {
  text-decoration: underline; }

#biblionight .land2 .container .text:first-child {
  padding-top: 50px;
  text-transform: none;
  font-size: 18px;
  margin-bottom: 15px; }

#biblionight .land2 .text.text--red:first-child {
  margin: 0; }

#biblionight .land2 .text.text--red.thanks {
  font-size: 29px; }

#biblionight .land2 .vazno {
  margin-bottom: 40px; }

#biblionight .land2 > .container {
  width: 475px;
  margin: 0 auto;
  text-align: left; }

#biblionight .land2 #reg #mail, #biblionight .land2 #reg #pass {
  width: 300px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: block;
  line-height: 40px;
  border: 1px solid #ccc;
  -webkit-border-radius: 3px;
          border-radius: 3px;
  font-size: 16px;
  margin-bottom: 25px;
  padding: 0 10px; }

#biblionight .land2 #reg #pass2 {
  width: 300px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: block;
  line-height: 40px;
  border: 1px solid #ccc;
  -webkit-border-radius: 3px;
          border-radius: 3px;
  font-size: 16px;
  margin-bottom: 25px;
  padding: 0 10px;
  margin-bottom: 15px; }

#biblionight .land2 #reg label[for="confirm"] {
  color: #6e7072;
  margin-bottom: 25px;
  display: inline-block; }
  #biblionight .land2 #reg label[for="confirm"] a {
    color: #0060af;
    text-decoration: underline; }
    #biblionight .land2 #reg label[for="confirm"] a:hover {
      text-decoration: none; }

#biblionight .land2 #reg button {
  cursor: pointer;
  font-size: 16px;
  padding: 0 20px;
  line-height: 40px;
  border: none;
  color: #fff;
  -webkit-border-radius: 3px;
          border-radius: 3px;
  background-color: #0060af;
  margin-bottom: 65px;
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s; }
  #biblionight .land2 #reg button:focus {
    outline: none; }

#biblionight .message {
  position: absolute;
  margin: 0;
  color: #ed1847; }

#biblionight .btn:hover, #biblionight button:hover {
  opacity: 0.9;
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s; }

#biblionight #vk_comments {
  margin-bottom: 40px; }

/*#biblionight .land2 .text.text--red:first-child + .text.text--grey {
 *	margin-bottom: 60px;
 *	padding: 0;
 *} */
