body {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'PT Sans', sans-serif; }

#biblionight a {
  text-decoration: none; }

#biblionight .container {
  margin: 0 auto;
  width: 920px;
  padding: 0 20px;
  text-align: center;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center; }

#biblionight .text {
  margin: 0;
  padding: 0;
  font-size: 18px;
  width: 780px;
  color: rgba(0, 0, 0, 0.8); }

#biblionight .accent {
  font-weight: bold; }

#biblionight .underline {
  text-decoration: underline; }

#biblionight .blue {
  color: #2660AB; }

#biblionight .red {
  color: #CC1D47; }

#biblionight .gray {
  color: rgba(38, 96, 171, 0.3); }

#biblionight .white {
  color: #FFFFFF; }

#biblionight .mt_10 {
  margin-top: 10px; }

#biblionight .mt_20 {
  margin-top: 20px; }

#biblionight .mt_35 {
  margin-top: 35px; }

#biblionight .mt_70 {
  margin-top: 70px; }

#biblionight .mb_35 {
  margin-bottom: 35px; }

#biblionight .mb_70 {
  margin-bottom: 70px; }

#biblionight .fs_14 {
  font-size: 14px; }

#biblionight .title {
  font-size: 30px;
  font-weight: bold; }

#biblionight header {
  background-color: #2660AB;
  height: 90px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center; }
  #biblionight header .container {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between; }

#biblionight .social-list {
  list-style: none;
  padding: 0;
  margin: 0; }
  #biblionight .social-list a {
    font-size: 14px;
    width: 20px;
    height: 20px;
    background-image: url("/ii/img/biblionight/social.png");
    background-repeat: no-repeat;
    opacity: 0.5;
    -webkit-transition: 0.2s;
    -o-transition: 0.2s;
    transition: 0.2s; }
    #biblionight .social-list a:hover {
      opacity: 1;
      -webkit-transition: 0.2s;
      -o-transition: 0.2s;
      transition: 0.2s; }

#biblionight .social-list__item {
  margin: 0;
  margin-right: 15px;
  padding: 0;
  display: inline-block;
  font-size: 0; }
  #biblionight .social-list__item:last-child {
    margin-right: 0; }

#biblionight .social-list__item_vk {
  background-position: -1px 50%; }

#biblionight .social-list__item_ok {
  background-position: -49px 50%; }

#biblionight .social-list__item_fb {
  background-position: -97px 50%; }

#biblionight .social-list__item_tw {
  background-position: -145px 50%; }

#biblionight .social-list__item_in {
  background-position: -193px 50%; }

#biblionight .social-list__item_yt {
  background-position: -241px 50%; }

#biblionight .banner {
  max-width: 55%; }

#biblionight .main__footer {
  height: 235px;
  background-image: url("/ii/img/biblionight/bg2.png");
  background-repeat: repeat-x; }
  #biblionight .main__footer .container {
    height: 100%; }
  #biblionight .main__footer .text {
    text-align: center;
    font-size: 25px;
    color: #FFFFFF;
    font-weight: bold;
    margin-top: 100px; }

#biblionight .owl {
  position: relative;
  width: 100%;
  margin-top: 50px;
  margin-bottom: 10px; }

#biblionight .owl-container {
  max-width: 190px;
  margin: 0 auto; }

#biblionight .owl-container:hover .owl-wing-right {
  -webkit-animation-name: owlWingLeftAnimation;
          animation-name: owlWingLeftAnimation;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-transform-origin: 0px 0px;
      -ms-transform-origin: 0px 0px;
          transform-origin: 0px 0px; }

#biblionight .owl-container:hover .owl-wing-left {
  -webkit-animation-name: owlWingRightAnimation;
          animation-name: owlWingRightAnimation;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-transform-origin: 43px 0px;
      -ms-transform-origin: 43px 0px;
          transform-origin: 43px 0px; }

#biblionight .owl-body {
  max-width: 104px; }

#biblionight .owl-wing-left {
  max-width: 43px;
  position: absolute;
  left: 370px;
  top: 50px; }

#biblionight .owl-wing-right {
  max-width: 43px;
  position: absolute;
  left: 506px;
  top: 50px; }

#biblionight .owl-eye {
  position: absolute;
  width: 22px;
  height: 22px; }

#biblionight .owl-eyeball {
  position: absolute;
  left: 8px;
  top: 7px;
  width: 6px;
  height: 7px; }

#biblionight .owl-eye-left {
  top: 31px;
  left: 500px;
  margin-left: -75px; }

#biblionight .owl-eye-right {
  top: 31px;
  left: 481px;
  margin-left: -5px; }

@-webkit-keyframes owlWingLeftAnimation {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg); }
  15% {
    -webkit-transform: rotate(-90deg);
            transform: rotate(-90deg); }
  100% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg); } }

@keyframes owlWingLeftAnimation {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg); }
  15% {
    -webkit-transform: rotate(-90deg);
            transform: rotate(-90deg); }
  100% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg); } }

@-webkit-keyframes owlWingRightAnimation {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg); }
  15% {
    -webkit-transform: rotate(90deg);
            transform: rotate(90deg); }
  100% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg); } }

@keyframes owlWingRightAnimation {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg); }
  15% {
    -webkit-transform: rotate(90deg);
            transform: rotate(90deg); }
  100% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg); } }

#biblionight .date {
  width: 640px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
          flex-direction: row;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between; }

#biblionight .date__item {
  -webkit-border-radius: 50%;
          border-radius: 50%;
  border: 3px solid #2660AB;
  height: 135px;
  width: 135px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
  -webkit-align-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center; }

#biblionight .number {
  font-size: 50px; }

#biblionight .month {
  font-size: 20px; }

#biblionight .date__item_active {
  border: none;
  -webkit-box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.1); }

#biblionight .date__item_disable {
  border: none;
  background: rgba(38, 96, 171, 0.3);
  color: #FFFFFF; }

#biblionight .books {
  background-color: #edf4fb; }

#biblionight .bask {
  max-width: 380px; }

#biblionight #notification {
  margin-top: 10px; }

#biblionight .mails {
  max-width: 711px; }

#biblionight .mail {
  line-height: 50px;
  width: 300px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0 10px;
  border: 3px solid #2660AB;
  -webkit-border-radius: 3px;
          border-radius: 3px;
  margin-bottom: 5px;
  font-size: 18px; }
  #biblionight .mail:focus {
    outline: none; }
  #biblionight .mail::-webkit-input-placeholder {
    color: #2660AB; }
  #biblionight .mail::-moz-placeholder {
    color: #2660AB; }
  #biblionight .mail:-ms-input-placeholder {
    color: #2660AB; }
  #biblionight .mail::-ms-input-placeholder {
    color: #2660AB; }
  #biblionight .mail::placeholder {
    color: #2660AB; }

#biblionight .error-message {
  margin-top: 10px;
  color: #CC1D47;
  font-size: 18px;
  text-align: left; }

#biblionight ol {
  list-style: none;
  counter-reset: li;
  -webkit-padding-start: 0;
          padding-inline-start: 0; }

#biblionight li:before {
  counter-increment: li;
  content: counters(li, ".") ". "; }

#biblionight .rules__list {
  width: 100%;
  text-align: left; }

#biblionight .rules__content {
  width: 100%; }

#biblionight .rules__list_predbiblionight li:nth-child(6):after {
  content: "*";
  position: relative;
  left: -358px;
  top: -19px; }

#biblionight .rules__list_biblionight li:nth-child(4):after {
  content: "*";
  position: relative;
  left: -358px;
  top: -19px; }

#biblionight .rules__hide {
  -webkit-transition: 1s ease-in-out;
  -o-transition: 1s ease-in-out;
  transition: 1s ease-in-out;
  display: none; }

#biblionight .btn {
  display: inline-block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 18px;
  line-height: 50px;
  color: #FFFFFF;
  padding: 0 30px;
  border: 3px solid #2660AB;
  background-color: #2660AB;
  -webkit-border-radius: 3px;
          border-radius: 3px;
  cursor: pointer;
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s; }

#biblionight .btn:hover, #biblionight .send:hover {
  color: #2660AB;
  background-color: #FFFFFF;
  -webkit-transition: 0.2s ease-in-out;
  -o-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out; }

#biblionight .send {
  width: 190px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 18px;
  line-height: 47px;
  color: #FFFFFF;
  border: 3px solid #2660AB;
  background-color: #2660AB;
  -webkit-border-radius: 3px;
          border-radius: 3px;
  cursor: pointer;
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
  margin-left: 30px; }
  #biblionight .send:focus {
    outline: none; }

#biblionight .footer {
  background-image: url("/ii/img/biblionight/bg.png");
  background-repeat: repeat-x;
  background-position: 0 -2px; }

#biblionight .footer .container {
  padding-top: 80px;
  margin-bottom: 0; }

#biblionight .footer__items {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%; }

#biblionight .footer__item {
  display: inline-block;
  margin-bottom: 20px; }

#biblionight .footer__item .name {
  font-size: 18px;
  color: #FFFFFF; }

#biblionight .footer__item .icon {
  display: inline-block;
  font-size: 14px;
  width: 34px;
  height: 34px;
  background-image: url("/ii/img/biblionight/icons.png"); }

#biblionight .footer__item:nth-child(1) .icon {
  background-position: 1px 0; }

#biblionight .footer__item:nth-child(2) .icon {
  background-position: -37px 0; }

#biblionight .footer__item:nth-child(3) .icon {
  background-position: -78px 0; }

#biblionight .footer__item:nth-child(4) .icon {
  width: 30px;
  background-position: -112px 0; }

#biblionight .footer__item:hover {
  text-decoration: underline;
  color: #FFFFFF; }
