doctype html
html(lang="ru")
	head
		meta(charset="UTF-8")
		title Библионочь 2019. Мы любим книги, мы выбираем чтение!
		link(href="https://fonts.googleapis.com/css?family=PT+Sans:400,700&subset=latin,cyrillic" rel="stylesheet" type="text/css")
		link(rel="stylesheet" href="/ii/css/biblionight/style.css")
		script(src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js")
		script(type="text/javascript" src="/ii/js/biblionight/script.js")
	body
		noscript
			iframe(src="//www.googletagmanager.com/ns.html?id=GTM-M569KV" height="0" width="0" style="display:none;visibility:hidden")
		script.
			(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
			new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
			j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
			'//www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
			})(window,document,'script','dataLayer','GTM-M569KV');
		#biblionight
			
						
			section.main
				header
					.container
						a.header__logo(href="/")
							img(src="/ii/img/biblionight/logo.png" alt="Логотип")
						nav.social__btns
							a.social__btn.social__btn_vk(href="http://vk.com/chitaigorod" target="_blank")
							a.social__btn.social__btn_ok(href="http://ok.ru/chitaigorod" target="_blank")
							a.social__btn.social__btn_fb(href="http://www.facebook.com/chitaigorod" target="_blank")
							a.social__btn.social__btn_in(href="https://www.instagram.com/chitai_gorod/" target="_blank")
							a.social__btn.social__btn_tw(href="http://twitter.com/chitaigorod" target="_blank")
							a.social__btn.social__btn_yt(href="http://youtube.com/chitaigorod" target="_blank")
				.main__content
					.container
						img(src="/ii/img/biblionight/owl.png" alt="")
						img(src="/ii/img/biblionight/banner.png" alt="")
					.main__footer
						.container
							p.text Читайте больше! Читайте с нами!
			section.calendar
				.container
					.text.red.title.mt_70 КНИГОЛЮБЫ НЕ СПЯТ
					.text.blue.mt_20
						| Библионочь – отличный повод подарить себе книги, о которых вы давно мечтали.
						br
						| В этом году Библионочь пройдёт 
						span.accent 19 апреля
						| , а для держателей Карты Любимого Покупателя она начнётся на 3 дня раньше – 
						span.accent 16 апреля
						|. Акция проводится на сайте и в магазинах сети.
					.date.blue.accent.mt_35
						.date__item
							.number 16
							.month апреля
						.date__item.date__item_active
							.number 17
							.month апреля
						.date__item.date__item_after
							.number 18
							.month апреля
						.date__item
							.number 19
							.month апреля
					.text.blue.accent.mt_35.mb_70 17 апреля – ПредБиблионочь для держателей Карты Любимого Покупателя
			section.books
				.container
					.text.red.title.mt_70 БИБЛИОНОЧЬ В ИНТЕРНЕТ-МАГАЗИНЕ
					.text.blue.mt_20
						| Наполняйте Корзину книгами уже сейчас! 
						br
						| В Библионочь останется только оформить заказ со 
						span.accent скидкой 20%.
					img(src="/ii/img/biblionight/bask.png").mt_20
					a.btn(href="/catalog/books/").mb_70.mt_35 Выбрать книги
			section.subscribe
				.container
					.text.red.title.mt_70 НАПОМНИТЬ ВАМ О БИБЛИОНОЧИ?
					.text.blue.mt_20
						| Оставьте свой e-mail, 
						br
						| и мы напишем вам об акции 
						span.accent за 1 день до старта.
					img(src="/ii/img/biblionight/mails.png").mt_20
					form#notification(action="")
						input.mail(type="text" placeholder="Ваш e-mail")
						input.subscribeSend(type="submit" name="Оповестить меня" value="Оповестить меня" required="Поле обязательно для заполнения")
			
			section.rules
				.container
					.text.blue.underline Правила Акции «Библионочь»
					ul.text.rules__text
						li Акция проводится в интернет-магазине (www.chitai-gorod.ru, ООО «Новый Книжный Центр», 127322, г. Москва, Огородный проезд, дом 20, строение 27, помещение 14, ОГРН 1027700282763).
						li Акция проводится только 20.04.2018 г. с 00:00 до 23:59 по московскому времени.
						li В период проведения Акции на товары, участвующие в Акции, предоставляется скидка в размере 20 % (далее – Скидка).
						li Скидка не предоставляется в розничных магазинах сети «Читай-город», в том числе в случае резервирования товаров в розничных магазинах сети «Читай-город» с помощью сайта www.chitai-gorod.ru.
						li В акции участвует все книги Интернет-магазина, за исключением книги «Дети Ноя» (Шмитт) (ISBN 2618644).
						li Количество товара ограничено. 
						li Скидка по Акции не суммируется со скидками по другим акциям, а также со скидкой по дисконтной карте «Читай-город» старого образца, корпоративным и партнерским картам.
						li Стоимость покупки со скидкой по Акции засчитывается в целях определения процентного уровня участника бонусной программы «Читай-город».
						li Оплата товара, приобретённого по Акции, подарочными картами возможна только в случае оплаты товара, приобретённого по Акции, в розничных магазинах сети «Читай-город» при получении заказа, оформленного в Интернет-магазине на сайте www.chitai-gorod.ru.
						li Вся информация об Акции, в частности, информация о сроках проведения Акции, об организаторе Акции, о правилах её проведения, иная информация, предоставление которой в соответствии действующим законодательством РФ является обязательным, предоставляется по телефону 8-800-444-8-444.
						li Организатором Акции в любое время, без предварительного уведомления участника Акции могут быть изменены условия Акции, в том числе, но, не ограничиваясь, сроки действия Акции, перечень участников Акции, иные условия Акции. 
							br
							| В том числе, Организатор Акции вправе в одностороннем порядке приостановить, досрочно прекратить проведение Акции в целом или частично. Информация об изменении условий Акции, приостановке, прекращении Акции размещается Организатором Акции на сайте www.chitai-gorod.ru. 
						li Совершение лицом действий, направленных на участие в Акции, является выражением согласия такого лица с настоящими Правилами в полном объёме.
					.text.text__warning.mb_70 
						span.red Важно: 
						| Сроки сбора заказов, сделанных в «Библионочь», увеличены.

			
			footer.footer
				.container
					nav.footer__items
						a.footer__item(href="/")
							.icon
							.name
								| Главная страница
								br
								| «Читай-город»
						a.footer__item(href="/catalog/books/")
							.icon
							.name Каталог книг
						a.footer__item(href="/personal/basket.php")
							.icon
							.name Корзина
						a.footer__item(href="/shops/")
							.icon
							.name
								| -30% в магазинах
								br
								| сети «Читай-город»
		script(type="text/javascript").
			(function (d, w, c) {
			(w[c] = w[c] || []).push(function() {
			try {
			w.yaCounter6936841 = new Ya.Metrika({
			id:6936841,
			clickmap:true,
			trackLinks:true,
			accurateTrackBounce:true,
			webvisor:true,
			ecommerce:"dataLayer"
			});
			} catch(e) { }
			});
			var n = d.getElementsByTagName("script")[0],
			s = d.createElement("script"),
			f = function () { n.parentNode.insertBefore(s, n); };
			s.type = "text/javascript";
			s.async = true;
			s.src = "https://mc.yandex.ru/metrika/watch.js";
			if (w.opera == "[object Opera]") {
			d.addEventListener("DOMContentLoaded", f, false);
			} else { f(); }
			})(document, window, "yandex_metrika_callbacks");
		noscript
			div
				img(src="https://mc.yandex.ru/watch/6936841" style="position:absolute; left:-9999px;" alt="")
