doctype html
html(lang="ru")
	head
		meta(charset="UTF-8")
		title Библионочь в «Читай-городе»! 
		meta(name="description" content="Скидка на все книги! 20% в интернет-магазине и 30% в рознице. Бесплатная доставка в магазины «Читай-город» по всей России.") 
		link(href="https://fonts.googleapis.com/css?family=PT+Sans:400,700&subset=latin,cyrillic" rel="stylesheet" type="text/css")
		link(rel="stylesheet" href="/ii/css/events/biblionight/style.css")
		script(type="text/javascript" src="/ii/js/events/biblionight/script.js")
	body
		noscript
			iframe(src="//www.googletagmanager.com/ns.html?id=GTM-M569KV" height="0" width="0" style="display:none;visibility:hidden")
		script.
			(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
			new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
			j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
			'//www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
			})(window,document,'script','dataLayer','GTM-M569KV');
		
		#biblionight
			.page-wrap
						
				section.main
					header
						.container
							a.header__logo(href="/")
								img(src="/ii/img/events/biblionight/logo.svg" alt="Логотип")
							nav.social-list
								a.social-list__item.social-list__item_vk(href="https://vk.com/chitaigorod" target="_blank")
								a.social-list__item.social-list__item_ok(href="https://ok.ru/chitaigorod" target="_blank")
								a.social-list__item.social-list__item_fb(href="https://www.facebook.com/chitaigorod" target="_blank")
								a.social-list__item.social-list__item_in(href="https://www.instagram.com/chitai_gorod/" target="_blank")
								a.social-list__item.social-list__item_tw(href="https://twitter.com/chitaigorod" target="_blank")
								a.social-list__item.social-list__item_yt(href="https://www.youtube.com/channel/UCbsqXVnwSqer9QttshVs76A" target="_blank")
					
					.container
						.owl
							.owl-container
								img.owl-body(src="/ii/img/events/biblionight/bodyOwl.svg" alt="")
								img.owl-wing-left(src="/ii/img/events/biblionight/wingLeft.svg" alt="")
								img.owl-wing-right(src="/ii/img/events/biblionight/wingRight.svg" alt="")
							.owl-eye-left.owl-eye
								img.owl-eyeball(src="/ii/img/events/biblionight/eye.svg" alt="")
							.owl-eye-right.owl-eye
								img.owl-eyeball(src="/ii/img/events/biblionight/eye.svg" alt="")
						img.banner(src="/ii/img/events/biblionight/title1.svg" alt="")
					.main__footer.mt_35
						.container
							p.text Читайте больше! Читайте с нами!
				section.calendar
					.container
						.text.red.title.mt_70 КНИГОЛЮБЫ НЕ СПЯТ
						.text.blue.mt_20
							
							| В этом году акция «Библионочь» в сети магазинов «Читай-город» пройдет 
							span.accent 19 апреля,
							br
							| а для держателей Карты Любимого Покупателя пройдет акция ПредБиблионочь –   
							span.accent с 16 по 18 апреля.
						.date.blue.accent.mt_35
							.date__item
								.number 16
								.month апреля
							.date__item
								.number 17
								.month апреля
							.date__item
								.number 18
								.month апреля
							.date__item
								.number 19
								.month апреля
						.text.blue.accent.mt_35 17 апреля – ПредБиблионочь для держателей Карты Любимого Покупателя
						.text.footnote.mb_70 Акция проводится на сайте 
							a.gray.underline(href="/" target="_blank") www.chitai-gorod.ru 
							| и в розничных магазинах «Читай-город».
				section.books
					.container
						.text.red.title.mt_70 БИБЛИОНОЧЬ В ИНТЕРНЕТ-МАГАЗИНЕ
						.text.blue.mt_20
							| Наполняйте Корзину книгами уже сейчас! 
							br
							| В Библионочь останется только оформить заказ со 
							span.accent скидкой 20%.
						img.bask.mt_20(src="/ii/img/events/biblionight/bask.svg")
						a.btn.mb_70.mt_10(href="/catalog/books/") Выбрать книги
				section.notification
					.container
						.text.red.title.mt_70 НАПОМНИТЬ ВАМ О БИБЛИОНОЧИ?
						.text.blue.mt_20
							| Оставьте свой e-mail, 
							br
							| и мы напишем вам об акции 
							span.accent за 1 день до старта.
						img.mails(src="/ii/img/events/biblionight/mails.svg")
						form#notification(action="" method="POST" enctype="multipart/form-data" novalidate="novalidate")
							input.mail(type="text" name="email" placeholder="Ваш e-mail" required)
							button.send(type="submit" name="send" value="Отправить") Отправить
						.text.footnote.mt_20 Указывая e-mail в настоящем поле, предоставляю согласие на обработку персональных данных**
				section.confirmation
					.container
						.text.red.title.mt_70 УРА, ПОЛУЧИЛОСЬ!
						.text.blue.mt_20 Мы напомним вам о Библионочи. А пока – составляйте список книг,
							br
							| совсем скоро они станут вашими.
						img.mails(src="/ii/img/events/biblionight/mails.svg")

				section.rules
					.container
						.text.blue.title.mt_70 ПРАВИЛА АКЦИЙ
						.rules__content
							button.rules__title.mt_35 Правила акции «ПРЕДБИБЛИОНОЧЬ»
							ol.text.blue.rules__list.rules__list_predbiblionight
								li Акция проводится во всех розничных магазинах сети «Читай-город» (далее – «Магазины участники»), а также в Интернет-магазине (
									a.blue(href="/") www.chitai-gorod.ru
									| , ООО «Новый Книжный Центр», 127322, г. Москва, Огородный проезд, дом 20, строение 27, помещение 14, ОГРН 1027700282763) (далее – «Интернет-магазин»)
								li Акция не  действует в розничных магазинах сети «Гоголь-Моголь».
								li Период проведения Акции:
									ol
										li  Магазинах-участниках Акция проводится с 16.04.2019 г. по 18.04.2019 г. включительно  в часы работы Магазинов-участников. 
										li В Интернет-магазине Акция проводится с 00:00 16.04.2019 г. по 23:59 18.04.2019 г. включительно (по московскому времени).
								li Участниками Акции в Магазинах-участниках могут быть только лица, являющиеся держателями активированных карт лояльности «Читай-город» и «Гоголь-Моголь».
								li Участниками Акции в  Интернет-магазине могут быть только лица, являющиеся держателями активированных карт лояльности «Читай-город» и «Гоголь-Моголь» и зарегистрировавшие данные карты в личном кабинете на сайте 
									a.blue(href="/") www.chitai-gorod.ru
								li В  Акции участвуют все книги (Далее – «Товар»), за исключением книги «Дети Ноя» Эрик-Эмманюэль Шмитта (ID товара 2618644), товаров из раздела «Скоро в продаже» на сайте Интернет-магазина.
								li При покупке Товара в Магазинах-участниках в период проведения Акции, указанный в п. 3.1. настоящих Правил, предоставляется скидка в размере 30 %.
								li При оформлении заказа в Интернет-магазине в период проведения Акции, указанный в п. 3.2. настоящих Правил, предоставляется скидка в размере 20 %.
								li На Товар, продажа которого осуществляется со скидкой более 30% в Магазинах-участниках в период проведения Акции, указанный в п. 3.1 настоящих Правил, сохраняется первоначальная (т.е. большая) скидка.
								li На Товар, продажа которого осуществляется со скидкой более 20% в Интернет-магазине в период проведения Акции, указанный в п.3.2.  настоящих Правил, сохраняется первоначальная (т.е. большая) скидка.
								li Скидка по Акции не суммируется со скидками по другим акциям, а также со скидкой по картам лояльности сети магазинов «Читай-город» и «Гоголь-Моголь».
								li В период с 10.04.2019г. по 21.04.2019 г. включительно функция «Оформить резерв» на сайте 
									a.blue(href="/") www.chitai-gorod.ru 
									| будет недоступна   
								li Скидка по Акции не распространяется на товар, заказ на который был оформлен в Интернет-магазине до даты проведения Акции и получен в дату проведения Акции.
								li Сроки доставки заказов, оформленных в Интернет-магазине в рамках Акции, могут быть увеличены.
								li Оплата бонусами товара, приобретённого по Акции, возможна; начисление бонусов за товар, приобретённый по Акции, не производится.
								li Оплата товара, приобретённого по Акции, подарочными картами возможна только в случае оплаты товара, приобретённого по Акции, в розничных магазинах сети «Читай-город».
								li Стоимость покупки со скидкой по Акции засчитывается в целях определения процентного уровня участника бонусной программы «Читай-город» и «Гоголь-Моголь».
								li При возврате в соответствии с действующим законодательством и Правилами продажи товаров в Интернет-магазине «ЧИТАЙ-ГОРОД» (
									a.blue(href="/about/rules.php") https://www.chitai-gorod.ru/about/rules.php
									| ) товара, приобретенного по Акции, скидка не восстанавливается, а денежные средства за такой товар возвращаются в размере стоимости товара за вычетом части, оплаченной бонусами, и скидки по Акции.
								li Организатором Акции в любое время, без предварительного уведомления участника Акции могут быть изменены условия Акции, в том числе, но, не ограничиваясь, сроки действия Акции, перечень участников Акции, иные условия Акции. 
									br
									| В том числе, Организатор Акции вправе в одностороннем порядке приостановить, досрочно прекратить проведение Акции в целом или частично. Информация об изменении 	условий Акции, приостановке, прекращении Акции размещается Организатором Акции на cайте 
									a.blue(href="/") www.chitai-gorod.ru.
								li Вся информация об Акции, в частности, информация о сроках проведения Акции, об организаторе Акции, о правилах её проведения, иная информация, предоставление которой в соответствии действующим законодательством РФ является обязательным, предоставляется по телефону 8-800-444-8-444, на сайте 
									a.blue(href="/") www.chitai-gorod.ru.
								li.mb_35 Совершение лицом действий, направленных на участие в Акции, является выражением согласия такого лица с настоящими Правилами в полном объёме.
						
						.rules__content
							button.rules__title Правила акции «БИБЛИОНОЧЬ»
							ol.text.blue.rules__list.rules__list_biblionight
								li Акция проводится во всех розничных магазинах сети «Читай-город» (далее – «Магазины участники»), а также в Интернет-магазине (
									a.blue(href="/") www.chitai-gorod.ru
									| , ООО «Новый Книжный Центр», 127322, г. Москва, Огородный проезд, дом 20, строение 27, помещение 14, ОГРН 1027700282763) (далее – «Интернет-магазин»)
								li Акция не  действует в розничных магазинах сети «Гоголь-Моголь».
								li Период проведения акции:
									ol
										li В Магазинах-участниках Акция проводится  только 19.04.2019 г. в часы работы магазинов. 
										li В интернет-магазине 
											a.blue(href="/") www.chitai-gorod.ru 
											| акция проводится  только 19.04.2019 г. с 00:00 до 23:59 по московскому времени.
								li В  Акции участвуют все книги (Далее – «Товар»), за исключением книги «Дети Ноя» Эрик-Эмманюэль Шмитта (ID товара 2618644), товаров из раздела «Скоро в продаже» на сайте Интернет-магазина.
								li При покупке Товара в Магазинах-участниках в период проведения Акции, указанный в п. 3.1. настоящих Правил, предоставляется скидка в размере 30 %.
								li При оформлении заказа в Интернет-магазине в период проведения Акции, указанный в п. 3.2. настоящих Правил, предоставляется скидка в размере 20 %.
								li На Товар, продажа которого осуществляется со скидкой более 30% в Магазинах-участниках в период проведения Акции, указанный в п. 3.1. настоящих Правил, сохраняется первоначальная (т.е. большая) скидка.
								li На Товар, продажа которого осуществляется со скидкой более 20% в Интернет-магазине в период проведения Акции, указанный в п. 3.2. настоящих Правил, сохраняется первоначальная (т.е. большая) скидка.
								li Скидка по Акции не суммируется со скидками по другим акциям, а также со скидкой по картам лояльности сети магазинов «Читай-город» и «Гоголь-Моголь».
								li В период с 10.04.2019г. по 21.04.2019 г. включительно функция «Оформить резерв» на сайте 
									a.blue(href="/") www.chitai-gorod.ru 
									| будет недоступна 
								li Скидка по Акции не распространяется на товар, заказ на который был оформлен в Интернет-магазине до даты проведения Акции и получен в дату проведения Акции.
								li Сроки доставки заказов, оформленных в Интернет-магазине в рамках Акции, могут быть увеличены.
								li Оплата бонусами товара, приобретённого по Акции, возможна; начисление бонусов за товар, приобретённый по Акции, не производится.
								li Оплата товара, приобретённого по Акции, подарочными картами возможна только в случае оплаты товара, приобретённого по Акции, в розничных магазинах сети «Читай-город».
								li Стоимость покупки со скидкой по Акции засчитывается в целях определения процентного уровня участника бонусной программы «Читай-город» и «Гоголь-Моголь».
								li При возврате в соответствии с действующим законодательством и Правилами продажи товаров в Интернет-магазине «ЧИТАЙ-ГОРОД» (
									a.blue(href="/about/rules.php") https://www.chitai-gorod.ru/about/rules.php
									| ) товара, приобретенного по Акции, скидка не восстанавливается, а денежные средства за такой товар возвращаются в размере стоимости товара за вычетом части, оплаченной бонусами, и скидки по Акции.
								li Организатором Акции в любое время, без предварительного уведомления участника Акции могут быть изменены условия Акции, в том числе, но, не ограничиваясь, сроки действия Акции, перечень участников Акции, иные условия Акции. 
									br
									| В том числе, Организатор Акции вправе в одностороннем порядке приостановить, досрочно прекратить проведение Акции в целом или частично. Информация об изменении условий Акции, приостановке, прекращении Акции размещается Организатором Акции на сайте 
									a.blue(href="/") www.chitai-gorod.ru.
								li Вся информация об Акции, в частности, информация о сроках проведения Акции, об организаторе Акции, о правилах её проведения, иная информация, предоставление которой в соответствии действующим законодательством РФ является обязательным, предоставляется по телефону 8-800-444-8-444, на сайте 
									a.blue(href="/") www.chitai-gorod.ru.
								li Совершение лицом действий, направленных на участие в Акции, является выражением согласия такого лица с настоящими Правилами в полном объёме.


						.text.footnote.mt_35.mb_70 **Настоящим предоставляю ООО «Новый Книжный Центр» свое согласие на обработку (сбор, систематизацию, накопление, хранение, уточнение, использование, обезличивание, передачу (трансграничную передачу, распространение, предоставление, доступ), блокирование, уничтожение) персональных данных для целей продажи товаров, предоставления справочной информации, идентификации участника в Программе лояльности, обеспечения процедуры учета накопления и использования баллов, скидок, предоставления сервисных услуг, определения победителя в проводимых акциях, сбора мнения о работе магазинов сетей «Читай-город» и «Гоголь-Моголь», направления рекламных сообщений (в т.ч., о проводимых акциях, мероприятиях, специальных предложениях через любые каналы коммуникации, в т.ч. по электронной почте, SMS, телефону). Настоящим Вы даете согласие на передачу Ваших персональных данных третьим лицам для их обработки в соответствии с целями, предусмотренными настоящим согласием. Обработка персональных данных может осуществляться с использованием и (или) без использования средств автоматизации в соответствии с действующим законодательством РФ.
							br
							| Настоящее согласие дается Вами с момента указания электронной почты на сайте https://www.chitai-gorod.ru/events/biblionight/ , на весь период Вашего участия в программе лояльности и может быть отозвано в любой момент путем направления письменного заявления ООО «Новый Книжный Центр» (127322, г. Москва, Огородный проезд, д.20, стр.27, пом. 14). Отзыв настоящего согласия будет автоматически прекращать Ваше участие в Программе лояльности, Карта участника будет заблокирована, накопленные бонусы, скидка, баллы, преференции будут аннулированы.». 

				
				footer.footer
					.container
						nav.footer__items
							a.footer__item(href="/")
								.icon
								.name
									| Главная страница
									br
									| «Читай-город»
							a.footer__item(href="/catalog/books/")
								.icon
								.name Каталог книг
							a.footer__item(href="/personal/basket.php")
								.icon
								.name Корзина
							a.footer__item(href="/shops/")
								.icon
								.name
									| -30% в магазинах
									br
									| сети «Читай-город»
		script(type="text/javascript").
			(function (d, w, c) {
			(w[c] = w[c] || []).push(function() {
			try {
			w.yaCounter6936841 = new Ya.Metrika({
			id:6936841,
			clickmap:true,
			trackLinks:true,
			accurateTrackBounce:true,
			webvisor:true,
			ecommerce:"dataLayer"
			});
			} catch(e) { }
			});
			var n = d.getElementsByTagName("script")[0],
			s = d.createElement("script"),
			f = function () { n.parentNode.insertBefore(s, n); };
			s.type = "text/javascript";
			s.async = true;
			s.src = "https://mc.yandex.ru/metrika/watch.js";
			if (w.opera == "[object Opera]") {
			d.addEventListener("DOMContentLoaded", f, false);
			} else { f(); }
			})(document, window, "yandex_metrika_callbacks");
		noscript
			div
				img(src="https://mc.yandex.ru/watch/6936841" style="position:absolute; left:-9999px;" alt="")
